* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(24, 14, 112, 0.966);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.7vh;
}

.nome {
    font-family: 'Noto Serif', serif;
    font-size: 6vh;
    color: rgb(255, 255, 255);
    position: relative;
    transition: all 2.5s ease-in-out;
    background-color: rgb(45, 45, 189);
    padding: 2.5vh 3vh;
    border-radius: 45%;
}

img#eu {
    width: 15vh;
    margin: 0vh 5vh;
    border-radius: 50%;
    border: 0.5vh solid rgb(45, 45, 189);
}

img#eu2 {
    width: 50vh;
    margin: 3vh 25vh 3vh 25vh;
    border: 0.7vh solid rgba(24, 14, 112, 0.966)
}

.icone {
    width: 6vh;
}


ul {
    display: flex;
    align-items: center;
    background-color: rgba(0, 195, 255, 0.719);
    height: 9vh;
    display: flex;
    justify-content: space-between;
    padding: 2vh 80vh;
    border: 0.5vh solid rgba(24, 14, 112, 0.966)
}

.especial {
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(80, 255, 226);
    border-radius: 50%;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    padding: 0.7vh 2vh;
}

.topicos {
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

}

.topicos:hover {
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 50%;
}

footer {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(24, 14, 112, 0.966);
    margin: auto;
}

.direitos {
    font-size: 1.5vh;
    color: white;
    text-align: center;
    padding: 1vh 0vh;
    font-family: Arial, Helvetica, sans-serif;

}

.instagram {
    height: 10vh;
    margin: 7vh 0vh 0vh 32vh;
}

.github {
    height: 10vh;
    margin: 7vh 0vh 0vh 32vh;
}

.legenda1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    margin: 0vh 0vh 0vh 23vh;
    text-decoration: none;
}

.legenda2 {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    margin: 0vh 0vh 0vh 22vh;
    text-decoration: none;
}


.legenda1:hover {
    color: rgb(255, 0, 128);
}

.legenda2:hover {
    color: rgb(57, 43, 179);
}

.mainleft,
.mainright {
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    background-color: rgba(183, 255, 243, 0.438);
}

.texto {
    margin: 0 25vh 0 0;
    color: rgb(0, 0, 0);
    font-size: 3.3vh;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.subtitulo {
    margin: 0 25vh 4vh 0;
    color: rgb(57, 43, 179);
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.dedo {
    height: 5vh;
}

.subcont {
    margin: 0vh 25vh 0vh 0vh;
    color: rgb(0, 0, 0);
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgb(57, 43, 179);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#uvv {
    width: 61.5vh;
    margin: 3vh 25vh 3vh 25vh;
    border: 0.7vh solid rgba(24, 14, 112, 0.966)
}

#rede {
    width: 61.5vh;
    margin: 3vh 20vh 3vh 25vh;
    border: 0.7vh solid rgba(24, 14, 112, 0.966)
}

#linguagem {
    width: 61.5vh;
    margin: 3vh 20vh 3vh 25vh;
    border: 0.7vh solid rgba(24, 14, 112, 0.966)
}