* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(24, 14, 112, 0.966);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

.nome {
    font-family: 'Noto Serif', serif;
    font-size: 5vh;
    color: rgb(255, 255, 255);
    position: relative;
    transition: all 2.5s ease-in-out;
}

img#eu {
    width: 15vh;
    margin: 0vh 5vh;
    border-radius: 50%;
}

img#eu2 {
    width: 50vh;
    margin: 3vh 25vh 3vh 25vh;
}

.icone {
    width: 6vh;
}


ul {
    display: flex;
    align-items: center;
    background-color: rgba(0, 195, 255, 0.719);
    height: 9vh;
    display: flex;
    justify-content: space-between;
    padding: 1vh 80vh;
    border: solid 0.3vh black;
}

.topicos {
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

}

.especial {
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(80, 255, 226);
    border-radius: 50%;
    padding: 0.7vh;
}

a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}

.topicos:hover {
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 50%;
    padding: 0.7vh 0vh;
}



footer {
    float: inline-end;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
    display: flex;
    height: 1vh;
    background-color: rgba(24, 14, 112, 0.966);
    padding-top: 10vh;
}

.instagram {
    height: 10vh;
    margin: 5vh 0vh 0vh 20vh;
}

.github {
    height: 10vh;
    margin: 5vh 0 0 20vh
}

.legenda1,
.legenda2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    padding: 0;
    margin-left: 1vh;
}

.legenda1:hover {
    color: rgb(255, 0, 128);
    padding: 3vh 0vh 3vh 0;
}

.legenda2:hover {
    color: rgb(136, 112, 112);
    padding: 3vh 0vh 1vh 0;
}

.mainleft,
.mainright {
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    background-color: rgba(183, 255, 243, 0.438);
}

.texto {
    margin: 0 25vh 0 0;
    color: rgb(0, 0, 0);
    font-size: 3.3vh;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.subtitulo {
    margin: 0 25vh 2vh 0;
    color: rgb(0, 0, 0);
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.dedo {
    height: 5vh;
}

.subcont {
    margin: 0vh 25vh 2vh 10vh;
    color: rgb(0, 0, 0);
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}